<div class="navbar">
  <a href="/chat/room/suomi">Lobby</a>
  <a href="/chat/room/map">Map</a>
	
  <div class="dropdown" style="float: right">
    <button class="dropbtn"> <div class="w3-large"><i class="fa fa-home"></i> Home</div>
    </button>
    <div class="dropdown-content">
      <a href="/users/profileEdit">Profile</a>
      <a href="/about">About</a>
      <a href="/users/logout">logout</a>
    </div>
  </div> 
</div>

	<div id="aukio-chat">
<style> 
li {
    color: white;
}
</style>
    <h2>About</h2>
    <ul>
    <li>Chat service to use freely</li>
    <li>Click on persons name to whisper or type "/username message" in chat</li>
    <li>From map you can choose your city's chat room</li>
    <li>Have fun, swearing is allowed here</li>
    </ul>

</div>